<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WARP_2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <WARP_2.My.MySettings>
      <setting name="Name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Quality" serializeAs="String">
        <value/>
      </setting>
      <setting name="CompressionSpeed" serializeAs="String">
        <value/>
      </setting>
      <setting name="CompresssionAudio" serializeAs="String">
        <value/>
      </setting>
      <setting name="IntroFPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="CloseFPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="NumberOfParts" serializeAs="String">
        <value/>
      </setting>
      <setting name="CompressAudioEnabled" serializeAs="String">
        <value/>
      </setting>
      <setting name="IntroEnabled" serializeAs="String">
        <value/>
      </setting>
      <setting name="CloseEnabled" serializeAs="String">
        <value/>
      </setting>
      <setting name="SavePath" serializeAs="String">
        <value/>
      </setting>
    </WARP_2.My.MySettings>
  </userSettings>
</configuration>
